@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marcovaldo";
  src: url("/fonts/Marcovaldo-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Marcovaldo";
  src: url("/fonts/Marcovaldo-Regular.woff2") format("woff2");
  font-style: normal;
}

.marco-font {
  font-family: "Marcovaldo", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.non-landing {
  padding-top: 3.5rem;
  background-color: #000000;
}

.lore {
  background-color: #000000;
}

.eco-system {
  background-color: #c8cbcc;
}

.vision {
  background-color: #e52e3d;
}

* {
  box-sizing: border-box;
}

.world-item {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.world-item:hover p,
h3,
.explore-item {
  background: #000;
}

.world-inner-element {
  transform: translateZ(40px);
}
